.product-details-container {
  position: relative;
  flex: 1;

  .form-container {
    display: flex;
    border: #000000 3px double;
    margin: 5px;
    padding: 5px;
    flex-flow: column wrap;

    .row:nth-child(1) {
      flex: 4;
    }

    .row:nth-child(2) {
      flex: 2;
    }

    .row:nth-child(3) {
      flex: 3;
    }

    .row:nth-child(4) {
      flex: 1;
      margin-bottom: 22px;

      input {
        width: 30%;
      }

      p {
        margin: 4px;
        padding: 4px;
      }
    }

    .row:nth-child(5) {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    .row {
      padding: 5px;
      margin: 2.5px;

      .edit-field-wrapper {
        padding: 5px;
        display: flex;
        flex-flow: column;
        height: 100%;

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
        }

        label {
          background: transparent;
          flex: 1;
          padding: 5px;
          margin: 1px;
        }

        input, textarea {
          flex: 3;
          padding: 10px;
          margin: 1px;
          border: 1px solid #ccc !important;
        }

        span {
          font-size: 15px;
          font-weight: 200;
          color: darkred;
        }
      }

      button {
        height: 30px;
        width: 80px;
        padding: 0.35em 1.2em;
        border: 0.1em solid #000000;
        margin: 1px;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #000000;
        background: #FFFFFF;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
      }

      button:hover {
        color: darkred;
        background-color: #FFFFFF;
        border: 0.1em solid #BBBBBB;
      }

      .disabled-button {
        border: 0.1em solid #FFFFFF;
        color: #FFFFFF;
        background: darkred;
      }

      .disabled-button:hover {

      }
    }

    .no-product {
      margin: 15%;
      font-size: 15px;
      min-height: 160px;
      height: unset;
    }

    .subject-wrapper {
      position: absolute;
      top: -1px;
      left: 10%;
      background: #FFFFFF;

      span {
        font-size: 13px;
        font-weight: 200;
      }
    }
  }

  .scroll-back-container {
    display: flex;
    justify-content: center;

    .scroll-back {
      font-size: 15px;
      font-weight: 200;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s;
      display: inline-flex;
      flex-flow: column;

      &:hover {
        color: #5f5f5f;
      }
    }

    .arrow-down {
      flex: 2;
      margin-top: 10px;

      /* Arrow & Hover Animation */
      #more-arrows {
        width: 75px;
        height: 65px;

        &:hover {

          polygon {
            fill: #5f5f5f;
            transition: all .2s ease-out;

            &.arrow-bottom {
              transform: translateY(-18px);
            }

            &.arrow-top {
              transform: translateY(18px);
            }

          }

        }

      }

      polygon {
        fill: #5f5f5f;
        transition: all .2s ease-out;

        &.arrow-middle {
          opacity: 0.75;
        }

        &.arrow-top {
          opacity: 0.5
        }

      }
    }

  }
}